<div id='content'>
    <div id='page_reader'
         class='wrapper wrapper_full articleview font-serif fontsize-3 fontserifsize-3 active content-article'>
        <div class='reader_content_wrapper' style='display: block;'>
            <div class='reader_content'>
                <div class='reader_head clearfix'><h1
                        style='border-bottom: 1px solid #67676733;padding-bottom: 0.5em;margin-bottom: 0.5em;'>
                    {{title}}</h1>
                    <ul class='sub'>
                        <li class='authorsdomain'><span class='authors'><span class='author'>{{author}}</span></span>
                            <span class='domain'><a target='_blank' href='{{article_url}}'>{{base_url}}</a></span></li>
                        <li class='original'><a target='_blank' rel='nofollow noopener noreferrer'
                                                href='{{article_url}}'>{{article}}</a></li>
                        <li class='date'>{{read_time}}</li>
                        <li class='tags hasTags'><span class='tag_container'></span></li>
                        <li class='original_narrow'><a target='_blank' rel='nofollow noopener noreferrer'
                                                       href='{{article_url}}'>{{article}}</a></li>
                    </ul>
                </div>
                <div class='text_body'>
                    <div>{{article_content|safe}}</div>
                </div>
            </div>
        </div>
    </div>
</div>